<%= render "layouts/header" %>

<main> 
  <!-- お問い合せ -->
  <section class="position-relative pt-5">
    <div class="bg-lightblue half half-info"></div>
    <div class="container text-center position-relative bg-lightblue">
      <h2 class="h3 dot font-weight-bold pt-3 pb-5 px-0 mb-0">お問い合せ</h2>
    </div>
    <div class="bg-lightblue pb-5">
      <div class="container pb-5">
        <form>
          <div class="form-group row">
            <label for="tel" class="col-sm-4 col-form-label">ご用件</label>
            <div class="col-sm-8 my-3">
              <div class="custom-control custom-radio">
                <div class="">
                  <input id="youken1" name="youken" type="radio" class="custom-control-input" checked>
                  <label class="custom-control-label" for="youken1">入園について</label>
                </div>
                <div class="">
                  <input id="youken2" name="youken" type="radio" class="custom-control-input">
                  <label class="custom-control-label" for="youken2">職員募集</label>
                </div>
                <div class="">
                  <input id="youken3" name="youken" type="radio" class="custom-control-input">
                  <label class="custom-control-label" for="youken3">その他</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label">お名前<span class="badge badge-pill badge-info ml-2">必須</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="name" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="tel" class="col-sm-4 col-form-label">電話番号</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="tel">
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label mod-email-lavel">メールアドレス<span class="badge badge-pill badge-info ml-2">必須</span></label>
            <div class="col-sm-8">
              <input type="email" class="form-control" id="email" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="tel" class="col-sm-4 col-form-label">連絡方法</label>
            <div class="col-sm-8 my-3">
              <div class="custom-control custom-radio">
                <div class="d-inline-block mr-5">
                  <input id="houhou1" name="houhou" type="radio" class="custom-control-input" checked>
                  <label class="custom-control-label" for="houhou1">メール</label>
                </div>
                <div class="d-inline-block">
                  <input id="houhou2" name="houhou" type="radio" class="custom-control-input">
                  <label class="custom-control-label" for="houhou2">電話</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row pb-5">
            <label for="textarea" class="col-sm-4 col-form-label">お問合せ内容<span class="badge badge-pill badge-info ml-2">必須</span></label>
            <div class="col-sm-8">
              <textarea class="form-control" id="textarea" rows="6" required></textarea>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn py-2 btn-danger rounded-pill">送信する</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>

<%= render "layouts/footer" %>