<footer class="position-relative pt-5"> 
  <div class="half bg-info"></div>
  <div class="bg-info pb-3 position-relative">
    <div class="container mt-3">
      <ul class="d-md-flex justify-content-center justify-content-md-between flex-wrap h6 list-unstyled pb-4">
        <li class="mb-3 mb-md-0"><a href="#sec1" class="text-white mr-1">SAMPLE園の特色</a></li>
        <span class="text-white d-none d-md-block">|</span>
        <li class="mb-3 mb-md-0"><a href="#sec2" class="text-white mx-1">SAMPLE園のようす</a></li>
        <span class="text-white d-none d-md-block">|</span>
        <li class="mb-3 mb-md-0"><a href="#sec3" class="text-white mx-1">お知らせ</a></li>
        <span class="text-white d-none d-md-block">|</span>
        <li class="mb-3 mb-md-0"><a href="#sec4" class="text-white mx-1">今月の予定</a></li>
        <span class="text-white d-none d-md-block">|</span>
        <li class="mb-3 mb-md-0"><a href="#sec5" class="text-white mx-1">園児&amp;職員募集</a></li>
        <span class="text-white d-none d-md-block">|</span>
        <li class="mb-3 mb-md-0"><a href="sample/index.html#sec6" class="text-white mx-1">年間行事</a></li>
        <span class="text-white d-none d-md-block">|</span>
        <li class="mb-3 mb-md-0"><a href="sample/index.html#sec7" class="text-white mx-1">１日の過ごし方</a></li>
        <span class="text-white d-none d-md-block">|</span>
        <li class="mb-3 mb-md-0"><a href="contact/index.html" class="text-white ml-1">お問合わせ</a></li>
      </ul>
      <div class="row px-md-0">
        <div class="col-md-6">
          <p class="text-white h5 font-weight-bold">SAMPLE園</p>
          <p class="text-white mb-0">〒123-4567</p>
          <p class="text-white">東京都港区芝8丁目0-0</p>
        </div>
        <div class="col-md-6">
          <p class="text-white mb-1"><i class="fas fa-phone mr-2"></i>03-1234-5678</p>
          <p class="text-white mb-1"><i class="fas fa-fax mr-2"></i>03-1234-5678</p>
          <p class="text-white mb-1"><i class="far fa-envelope mr-2"></i>info@example.com</p>
        </div>
      </div>
    </div>
    <hr style="border-color: #fff;">
    <p class="mb-0 pt-2 text-white text-center mod-copyright">&copy;&ensp;SampleSchool All Rights Reserved.</p>
    <div class="row"> </div>
  </div>
</footer>