<header>
  <div class="container-fluid position-relative px-0">
    <h1 class="display-4 catch-copy">キャッチコピーが入ります。</h1>
    <div class="mod-gnav position-absolute w-100" style="bottom: 0;">
      <div class="position-relative pt-5">
        <div class="half bg-info"></div>
        <div class="container">
          <div class="position-relative text-center bg-info"> <img src="img/logo.png" alt="" class="logo"> </div>
        </div>
        <div class="bg-info py-3">
          <div class="container px-0">
            <nav class="navbar navbar-expand-md navbar-light mb-3 px-md-0">
              <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替"> <span class="navbar-toggler-icon"></span> </button>
              <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav w-100 justify-content-around">
                  <li class="nav-item"><a class="nav-link text-info" href="#sec1">SAMPLE園の特色</a></li>
                  <li class="nav-item"><a class="nav-link text-info" href="#sec2">SAMPLE園のようす</a></li>
                  <li class="nav-item"><a class="nav-link text-info" href="#sec3">お知らせ</a></li>
                  <li class="nav-item"><a class="nav-link text-info" href="#sec4">今月の予定</a></li>
                  <li class="nav-item"><a class="nav-link text-info" href="#sec5">園児&amp;職員募集</a></li>
                  <li class="nav-item"><a class="nav-link text-info" href="sample/index.html#sec6">年間行事</a></li>
                  <li class="nav-item"><a class="nav-link text-info" href="sample/index.html#sec7">１日の過ごし方</a></li>
                  <li class="nav-item"><a class="nav-link text-info" href="contact/index.html">お問合わせ</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>